<!DOCTYPE html>
<!-- Opening HTML Tags-->
<html>
    <!-- Opening head Tags-->
<head>
    <!-- Opening head Tags-->
    <title>Admin - Enter Questions</title>
</head>
<!-- Opening body Tag -->
<body>    
    <body>
    <center><h1>Admin - Enter Questions</h1>


    </center><hr>
    
        <h4>Enter Questions in JSON : <input id="m" name="quesinjson" type="text"></h4>

   <button>Submit</button>
    </body>
    
    
    
    
</html>