<!DOCTYPE html>
<!-- Opening HTML Tags-->
<html>
    <!-- Opening head Tags-->
<head>
    <!-- Opening head Tags-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <center><body><title>Candidate - Enter Name</title>

</head>
<!-- Opening body Tag -->
<body>    
    <style>
        body{
            font-family: Roboto;
            font-size: 14px;
        }
        
.btn-primary {
    background-color: #00468a !important;
    border-color: none !important;
    font-size: 16px;
    border:none;
    width : 200px;
    font-family: Roboto;
    border-radius: 17.5px;
    height : 35px;
    color : white;
}
        
        
        
        </style>
            <center><h1>Candidate - Enter Name</h1>


    </center><hr>
    
    <form action="/candidate/instructions" method="POST">
        <h4>Enter your Name : <input id="m" name="candname" type="text"></h4>

   <button class="btn btn-primary">Submit</button></form>
    </body>
    
    
    
    
</html>